* { margin: 0; padding: 0; box-sizing: border-box; }

:root {
  --line: calc(3 / 2);
  --line-mono: calc(4 / 3);
  --unit: 8px;
  --br: calc(var(--unit) * 2 / 3);

  --font-primary: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  --font-monospace: Consolas,Liberation Mono,Menlo,monospace;

  --color-bg: oklch(22.35% 0.025 284.82);
  --color-bg2: oklch(0% 0 0 / 0.12);
  --color-bg3: oklch(0% 0 0 / 0.2);
  --color-header: oklch(25.35% 0.038 306);
  --color-header2: oklch(23.82% 0.044 274.24);
  --color-highlight: oklch(100% 0 0);
  --color-highlight2: oklch(100% 0 0 / 0.05);
  --color-fg: oklch(91.18% 0.019 331.41);
  --color-fg2: oklch(81.47% 0.038 331.41);
  --color-fg3: oklch(32.65% 0.034 331.41);
  --color-accent: oklch(75.29% 0.169 313);
  --color-accent2: oklch(57.94% 0.119 313);
}

body {
  line-height: var(--line);
  font-size: calc(var(--unit) * 2);
  font-family: var(--font-primary);
  background: var(--color-bg);
  color: var(--color-fg);
}

body::-webkit-scrollbar {
  width: calc(var(--unit) * 3 / 2);
}

body::-webkit-scrollbar-track {
  background-color: oklch(23.82% 0.044 274.24);
}

body::-webkit-scrollbar-thumb {
  background-color: oklch(32.65% 0.034 331.41);
}

::selection {
  color: var(--color-highlight);
  background-color: var(--color-accent2);
}

body > header {
  --v: 4;
  background: radial-gradient(farthest-corner at 50% 100%, var(--color-header), var(--color-header2));
  /* background: var(--color-header); */
}

body > header a {
  color: var(--color-accent2);
}

article {
  margin: auto;
  max-width: calc(var(--unit) * 98);
  margin-block-end: calc(1em * var(--line) * 3);
  padding: 0 calc(1em * var(--line) / 3);
  hyphens: auto;
}

a {
  color: var(--color-accent);
}

*:not(nav) > a[href^="#"] {
  text-decoration: none;
  margin-inline-start: calc(1em * var(--line) / 4);
  color: var(--color-fg3);
}

a[rel="external"]::after {
  content: " 🡵";
}

hr {
  border: none;
  height: 2px;
  background: var(--color-bg3);
  margin-block-start: calc(1em * var(--line) * 2);
}

h1 {
  --s: 7;
  font-weight: inherit;
  text-align: center;
  font-size: calc(var(--unit) * var(--s));
  padding-block-start: calc(1em * var(--line) * 2 / var(--s) * var(--v));
  margin-block-end: calc(1em * var(--line) * 2 / var(--s) * 1);
}

h1 > svg {
  --s: calc(1em * 3 / 4);
  width: var(--s);
  height: var(--s);
}

h2 {
  --s: 5;
  font-size: calc(var(--unit) * var(--s));
  font-style: italic;
  margin-block-start: calc(1em * var(--line) * 2 / var(--s));
  margin-block-end: calc(1em * var(--line) * 2 / var(--s));
}

h3 {
  --s: 3;
  font-size: calc(var(--unit) * var(--s));
  margin-block-end: calc(1em * var(--line) * 2 / var(--s));
}

h3 > code {
  color: inherit;
}

h1, h2 {
  color: var(--color-highlight);
}

h4, h5, h6 {
  color: var(--color-fg2);
  font-size: inherit;
}

p, pre, ul, ol, h4, h5, h6, hr {
  margin-block-end: calc(1em * var(--line));
}

pre, code {
  border-radius: var(--br);
  color: var(--color-fg2);
  font-size: calc(1em * 0.95);
  font-family: var(--font-monospace);
  background: var(--color-bg2);
}

pre code {
  background: none;
}

pre {
  padding: calc(1em * var(--line) / 2);
  overflow: auto;
  line-height: var(--line-mono);
}

.install {
  background: var(--color-highlight2);
  color: var(--color-fg);
  box-shadow: 0 -1px 0 var(--color-bg3);
  border-radius: var(--br);
}

.install:last-of-type {
  margin-block-end: calc(1em * var(--line) * 2);
}

nav {
  font-style: italic;
  text-align: center;
  margin-block-end: calc(1em * var(--line) * (var(--v) - 1));
}

nav > * {
  margin-inline-end: calc(1em * var(--line) / 2);
}

ul > li, ol > li {
  margin-inline-start: calc(1em * var(--line));
}

.container {
  container: features / inline-size;
  width: calc(100% * 5 / 6);
  margin: 0 auto;
}

.features {
  list-style-type: none;
  display: flex;
  gap: calc(1em * var(--line) / 3);
  margin-block-end: calc(1em * var(--line) * var(--v));
}

@container features (max-width: 600px) {
  .features {
    flex-direction: column;
  }
}

.features > li {
  border-radius: var(--br);
  padding: calc(1em * var(--line) / 2);
  margin: 0;
  background: var(--color-bg2);
  flex: 1;
  box-shadow: 0 2px 0 var(--color-bg3);
}

.features .icon {
  filter: sepia(1) saturate(2) hue-rotate(210deg);
  opacity: 0.3;
  font-size: 1.85em;
  float: left;
  margin-inline-end: calc(1em * var(--line) / 6);
}

.features > li > * {
  margin-block-end: 0;
}

.features > li > h4 {
  color: inherit;
}

.features > li > p {
  color: var(--color-fg2);
  font-size: calc(var(--unit) * 7 / 4);
}

.tagline {
  --s: calc(5 / 2);
  color: var(--color-fg2);
  font-size: calc(var(--unit) * var(--s));
  margin-block-end: calc(1em * (2 / var(--s)) * var(--line) * 1);
}

.hljs span { color: var(--f); }
.hljs-property { --f: oklch(73.24% 0.072 241.41); }
.hljs-comment { --f: oklch(44.71% 0.041 333.53); }
.hljs-params { --f: oklch(82.06% 0.11 358.94); }
.hljs-title { --f: oklch(78.24% 0.072 147.18); }
.hljs-function { --f: oklch(74.71% 0.116 238.24); }
.hljs-number { --f: oklch(78.53% 0.119 48.71); }
.hljs-keyword { --f: oklch(75.88% 0.107 331.41); }
.hljs-attr { --f: oklch(76.76% 0.053 299.65); }
.hljs-string { --f: oklch(79.71% 0.044 97.41); }
